{% extends 'layout.html' %}

{% block page-content-class %}error-page{% endblock %}

{% block title %}Internal Server Error{% endblock %}

{% block content %}
    <div class="container text-center">
        <div class="err">
            <h3 class="text-uppercase">Internal Server Error</h3>
            <p class="mt-5"><a class="btn btn-secondary" href="#" onclick="window.history.back()">Go Back</a></p>
        </div>
    </div>
{% endblock %}