<li class="nav-item ml-3 {% if active_link == 'new' %}active{% endif %}">
    <a class="nav-link" href="{% url 'notepad:create' %}">New{% if active_link == 'new' %} <span class="sr-only">(current)</span>{% endif %}</a>
</li>
<li class="nav-item ml-3 {% if active_link == 'about' %}active{% endif %}">
    <a class="nav-link" href="{% url 'notepad:about' %}">How It Works{% if active_link == 'about' %} <span class="sr-only">(current)</span>{% endif %}</a>
</li>