{% extends 'notepad/layout.html' %}

{% block title %}About{% endblock %}

{% block navbar-left %}
    {% include '_navbar.html' with active_link='about' %}
{% endblock %}

{% block page-content-class %}has-sticky-footer{% endblock %}

{% block content %}
    <div class="pt-5">
        <h4>How it works:</h4>
        <p class="pt-3">It's quite simple, actually. Create a notepad, encrypt it with your password, and get a direct link to it. No ads, tracking, or extra features, just what it says on the tin.</p>
        <p>Your password is never sent to the server. Your content is encrypted and decrypted using <a href="https://en.wikipedia.org/wiki/Advanced_Encryption_Standard">AES</a> on your device. Anyone visiting your Notepad's link will just see gibberish, and the server only sees the encrypted content. For example, encrypting <code>hello</code> with <code>123</code> as the password will produce <code>U2FsdGVkX1/eCCswPja8xltMeWVBhfn2EJgUW73IZPk=</code>. A stronger password will be harder to decrypt.</p>
        <p>Unique links are generated randomly, and therefore add an additional layer of anonymity. The chance of two links being the same are 1 in 2^128.</p>
        <p><a href="https://bitbucket.org/sheya/securenotepad"><i class="fab fa-bitbucket"></i> View the source code on BitBucket</a></p>
    </div>

    <nav class="navbar fixed-bottom navbar-dark bg-dark footer-navbar">
        <div class="mx-auto small text-light">© {% now 'Y' %} <a class="text-light" target="_blank" href="https://sheyabernstein.com">Sheya Bernstein</a></div>
    </nav>
{% endblock %}