{% extends 'notepad/layout.html' %}
{% load static notepad %}

{% block title %}{% if object.pk %}Work on Notepad{% else %}New Notepad{% endif %}{% endblock %}

{% block navbar-left %}
    {% include '_navbar.html' with active_link='new' %}
{% endblock %}

{% block content %}
    <div class="loader text-center">
        <div class="lds-hourglass"></div>
    </div>
    <div class="pt-5 show-on-load" style="display: none;">
        <div class="input-group mb-4 link-container {% if not object.pk %}d-none{% endif %}">
            <div class="input-group-prepend d-none d-md-block">
                <span class="input-group-text bg-dark">This Notepad is available at:</span>
                <span class="d-none" id="notepad-link">{% full_url object %}</span>
            </div>
            <input type="text" class="form-control" id="link" aria-describedby="notepad-link" readonly value="{% full_url object %}">
            <div class="input-group-append">
                <button class="btn btn-secondary bg-dark copy" title="Copy" onclick="copyLink(this)"><i class="fas fa-copy"></i></button>
            </div>
        </div>

        <div>
            <div id="tiny"></div>
        </div>

        <form class="notepad-form" method="post" autocomplete="nope">
            {% csrf_token %}
            <input type="hidden" id="isnew" value="{% if form.instance.pk %}1{% else %}0{% endif %}">
            <div class="d-none">{{ form }}</div>
        </form>

        <div class="buttons mt-3 text-right">
            <button class="btn btn-primary save-btn" {% if not object.pk %}disabled{% endif %} type="button" onclick="encrypt(this)">Encrypt and Save</button>
        </div>

        <div class="meta {% if not object.pk %}d-none{% endif %} mb-3">
            <div class="small">Created <span class="created-at">{{ object.created_at }}</span></div>
            <div class="small">Last updated <span class="updated-at">{{ object.updated_at }}</span></div>
        </div>
    </div>
{% endblock %}