* {
    letter-spacing: 0.02rem;
}

.bg-dark {
    color: #fff;
    background-color: #23303e!important;
}

.main-navbar {
    background-color: #1f2b37 !important;
    box-shadow: 0 0 1px 2px #000;
    -moz-box-shadow: 0 0 1px 2px #000;
    -webkit-box-shadow: 0 0 1px 2px #000;
}

.footer-navbar {
    background-color: #151515!important;
    box-shadow: 0 -1px 2px 0 #000;
    -moz-box-shadow: 0 -1px 2px 0 #000;
    -webkit-box-shadow: 0 -1px 2px 0 #000;
}

.alert .close {
    cursor: pointer;
    text-decoration: none;
}

.page-content.has-sticky-footer {
    margin-bottom: 6em;
}

.tox-notifications-container {
    display: none;
}

.jconfirm-light .jconfirm-box {
    background-color: #222!important;
}

.loader {
    top: 25vh;
    position: relative;
}

.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 25px solid #7b8da7;
    border-color: #7b8da7 transparent #7b8da7 transparent;
    animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}

.error-page .err {
    top: 25vh;
    position: relative;
}